/* fuente importadas Chakra para titulos y Barlow para textos */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Chakra+Petch:wght@700&display=swap');

/* color de fondo */
body {
  background-image: linear-gradient(#C3083F, #130B1A 25%);
  background-attachment: fixed;
  }

/* estilos navbar */
.navbar {
  background: rgba(40, 28, 56, 0.8);
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}

/* estilos footer */
footer.footer { 
  background: rgba(40, 28, 56, 0.8);
  color: white;
  font-size:small;
  font-family: "Chakra Petch", sans-serif;
}

.footer-redes{
  list-style-type: none;
}
.btn-chg{
  background-color: #c3083f;
  }
  .btn-chg:hover{
    background-color: #d64671;
    box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.9);
    }

 
/* estilos main login*/
main{
    justify-items: center;
  }
  
  .container-reset{
    background-color: #281C38;
    padding: 2rem 5rem;
    border-radius: 1%;background-color: ;
    height: 50rem;
    width: 50rem;
    align-items: center;
    margin: auto;
  }
  /* texto "¿listos a jugar?" */
  .titulo1 {
    font-family: 'Chakra Petch', sans-serif;
    color: #C3083F;
  }
  /* linea de color blanco debajo de la frase "¿listo para jugar?" */
  .linea{
    background-color: white;
    width: 35rem;
    height: 2px;
  }
  /* texto "Registrate" */
  .titulo2 {
    font-family: 'Chakra Petch', sans-serif;
  }
  /* etiquetas de texto para señalar lo que se tiene que ingresar en el formato */
  .form-label {
    font-family: 'Barlow', sans-serif;
    font-size: larger;
  }
  
  /* espacios del formato donde el usuario ingresa texto */
  .form-control {
    background-color: #7C629F;
    border-color: #7C629F;
    height: 3rem;
    width: 40rem;
    margin: auto;
  }
  /* boton de ingresar */
.btn-chg {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #C3083F;
  color: white;
  border-color: #C3083F;
  margin: 2rem 44%;
  border-radius: 5%;
}
/* textos que son hipervinculos para reset de contraseña y registro */
.textoVinculo {
  color: #FFFFFF;
  text-decoration-line: underline;
}
  