@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Chakra+Petch:wght@700&display=swap');

body{
    background-image: linear-gradient(#C3083F, #130B1A 25%);
    background-attachment: fixed;
}    

.navbar{
    background: rgba(40, 28, 56, 0.8);
    color: white;
    font-family: 'Chakra Petch',sans-serif;
}

.footer{
    background: rgba(40, 28, 56, 0.8);
    color: white;
    font-family: 'Chakra Petch',sans-serif;
}

.footer-redes{
    list-style-type: none;
    align-items: center;
}

.text{
    padding-top: 1rem;
    font-family: 'Chakra Petch',sans-serif ;   
}

.text1{
    color: white;
    display: inline;
    font-size: 4.5rem;   
}

.text2{
    color: #C3083F;
    display: inline;
    font-size: 4.5rem;
    margin-bottom: 0rem;
}

.line{
    color: white;
    margin-bottom: 0rem;
}

.text3{
    color: white;
    padding-left: 23rem;
    padding-right: 23rem;
}




@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.card{
    background-color: #281c38;
    height: 30rem;
    display:flex;
    
    
    
}

.img-fluid{
    height: 10rem;
    width: 7rem ;
    object-fit:cover;
    border-radius: 10%;
    display: flex;
}

.card-text{
    display: flex;
}

.textname{
    
    color: white;
    display: flex;

}


