@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Chakra+Petch:wght@700&display=swap");
html,body{
  height: 100%;}
body {
background-image: linear-gradient(#c3083f, transparent 25%), url("https://cdn.wallpapersafari.com/48/68/lDb8cM.jpg");
  background-attachment: fixed;
  background-color: #130B1A;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.navbar {
  background: rgba(40, 28, 56, 0.8);
  color: white;
  font-family: "Chakra Petch", sans-serif;
}
.navbar-nav .nav-item:hover .nav-link {
  color: white;
  text-shadow: 2px 2px 1rem #c3083f, -2px 2px 0.7rem #c3083f,
    2px -2px 0.7rem #c3083f, -2px -2px 0.7rem #c3083f;
}
footer.footer {
  background: rgba(40, 28, 56, 0.8);
  color: white;
  font-size: small;
  font-family: "Chakra Petch", sans-serif;
}

.footer-redes {
  list-style-type: none;
}
.footer-redes img:hover {
  filter: drop-shadow(0px 0px 0.5rem #c3083f);
}
#sidebar-container{
  background: rgba(40, 28, 56, 0.8);
  position: fixed;
  width: 200px;
  height: 100%;
  left: -200px; 
  transition: all 300ms linear;
}

#sidebar-container.active{
  left: 0px;
} 

.container.formulario{
    background: rgba(40, 28, 56, 0.95);
    max-width: 700px;
    justify-content: center;
    margin: auto;
    height: 300;
  
}

.tituloLateral{
  font-family: 'Chakra Petch', sans-serif;

}

.linksLateral{
  color: white;
  font-family: 'Barlow', sans-serif;

}

.crud-table {
  display: inline;
  font-family: 'Barlow', sans-serif;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;   
  justify-content: center;
  color: white;
  font-family: 'Barlow', sans-serif;
  

} 

.btn {
  background: #c3083f;
  color: white;
  font-family: "Chakra Petch", sans-serif;
}
.btn:hover{
  background-color: #d64671;
  box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.9);
  }
  .btn:not(:disabled):not(:disabled):active:{
    background-color: #d64671;
    box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.9);
    }
    .btn:focus{
      background:#d64671;
  box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.9);
    }
.crud-title{
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}

