@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Chakra+Petch:wght@700&display=swap");

html,body{
  height: 100%;}
body {
  background-image: linear-gradient(transparent, #4e1633);
  background-attachment: fixed;
  background-color: #130b1a;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

hr {
  border: 1px solid rgb(255, 255, 255);
}

h2{
  font-family:"Chakra Petch", sans-serif;
  color: #c3083f;
}

.btn {
background-color: #c3083f;
}
.btn:hover{
  background-color: #d64671;
  box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.9);
  }
  .btn:not(:disabled):not(:disabled):active:{
    background-color: #d64671;
    box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.9);
    }
    .btn:focus{
      background:#d64671;
  box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.9);
    }

.navbar {
  background: rgba(40, 28, 56);
  color: white;
  font-family: "Chakra Petch", sans-serif;
}
.navbar-nav .nav-item:hover .nav-link{
  color: white;
  text-shadow: 2px 2px 1rem #c3083f,
  -2px 2px .7rem #c3083f,
  2px -2px .7rem #c3083f,
  -2px -2px .7rem #c3083f;
}


.container.contacto {
  max-width: 50rem;
  align-items: center;
  margin: auto;
}

.form-contacto{
  background: rgba(40, 28, 56, 0.95);
}

.form-control {
  border:none;
  color: white;
  background-color: #7C629F;
}
  .form-control::placeholder {
    color:white;
    opacity: 50%;

}
.form-control:focus {
  background-color: white;
  color: #130B1A;
  box-shadow: 0 0 0.5rem 0.2rem rgba(195, 8, 63, 0.5);
}

footer.footer { 
  background: rgba(40, 28, 56);
  color: white;
  font-size:small;
  font-family: "Chakra Petch", sans-serif;
}

.footer-redes{
  list-style-type: none;
}
.footer-redes img:hover{
  filter: drop-shadow(0px 0px .5rem #c3083f)
}